body {
    margin: 0;
    font-family: Quicksand;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding-top: 90px;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    margin:0;
    padding:20px 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;
    border-radius:0;
    box-shadow:0 6px 18px rgba(20,20,20,0.08);
    z-index:1000;
}

main {
    margin: 20px auto;
    padding: 0 20px;
}

main h1 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #111;
}
