{% extends "base.html" %}

{% block judul %}Groups{% endblock %}

{% block konten %}

<div class="alert alert-primary text-center" role="alert">
    HELLO! Official Groups
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/ht.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <p class="card-text">Group HELLO! for chit chat. Stay on topic and respect all members. Privacy is important.</p>
            <a href="https://t.me/HELLOWannaTalk" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hs.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <p class="card-text">Group HELLO! for show and spicy. Privacy is important.</p>
            <a href="https://t.me/hellowannashow" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
</div>
<br>
<div class="alert alert-primary text-center" role="alert">
    HELLO! Groups Regional
</div>
<div class="row g-4">
    <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hja.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! for JABODETABEK (Jakarta, Bogor, Depok, Tanggerang, Bekasi) Region</p>
            <a href="" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hjg.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <p class="card-text">Group HELLO! for JOGLOSEMAR (Yogyakarta, Solo, Semarang) Region</p>
            <a href="https://t.me/HELLOJoglosemar" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
</div>
<br>
<div class="alert alert-primary text-center" role="alert">
    HELLO! Branch Groups
</div>
<div class="row g-4">
    <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hp.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <p class="card-text">Lagi cari temen mabar? Mau diskusi strategi, bagi-bagi tips, atau sekadar ngobrolin game favorit kamu? Di sinilah tempatnya!</p>
            <a href="https://t.me/hellowannaplay" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hcc.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <p class="card-text">Lagi cari kerja tapi bingung "cari informasi dan tipsnya" dari mana? Santai, kamu udah nyasar ke tempat yang tepat di HELLO! Career Center</p>
            <a href="https://t.me/HELLOCareerCenter" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hss.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk sesama bigD. Grup ini akan mempermudah kalian mencari sesama bigD.</p>
            <a href="https://t.me/HST_ApprovalBOT" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hbm.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk mencari temen curhat/ngobrol sesama yang sudah menikah atau biseks</p>
            <a href="https://t.me/HBM_ApprovalBot" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hbh.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk mencari market chubby dan chasers? Temukan yang kamu cari disini dan rasakan experience yang berbeda bersama komunitas kami!</p>
            <a href="https://t.me/HBH_ApprovalBot" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hem.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk Muscle Man Exclusive</p>
            <a href="https://t.me/HEM_ApprovalBot" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hmh.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <p class="card-text">Group HELLO! untuk tempat bagi para member yang serius dalam perjalanan workout—baik yang baru mulai maupun yang sudah lama latihan.</p>
            <a href="https://t.me/HELLOMuscleHub" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hkd.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
             <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk belajar dan/atau menambah experience soal kinky stuff</p>
            <a href="https://t.me/HKD_ApprovalBot" class="btn btn-primary">Apply</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hg.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Talk?</h5> -->
            <p class="card-text">Group HELLO! untuk berbagi pengalaman, produk favorit, dan tips perawatan (skincare, bodycare, haircare, atau makeup) yang sudah terbukti ampuh</p>
            <a href="https://t.me/HELLOGorgeousOfficial" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='img/hh.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">HELLO! Wanna Show?</h5> -->
            <h5><span class="badge bg-secondary">Needs Verification</span></h5>
            <p class="card-text">Group HELLO! untuk survivor ODHIV dan pengen mencari teman-teman seperjuangan dan sharing</p>
            <a href="#" class="btn btn-primary" onclick="pesanAdmin('wooram_aarif', 'Halo, saya ingin mengajukan permohonan bergabung ke grup HELLO! Hots+ar. Terima kasih.')">
              Apply
            </a>
          </div>
        </div>
      </div>
</div>


<script>
  function pesanAdmin(username, text) {
    window.location.href = `https://t.me/${username}?text=${encodeURIComponent(text)}`;
  }
</script>

{% endblock %}