{% extends "base.html" %}

{% block judul %}Rules{% endblock %}

{% block konten %}

<div class="alert alert-primary text-center" role="alert">
    HELLO! Rules
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center"><strong>Persyaratan Utama</strong></h5>
    <p class="card-text">
        1. <strong>Usia minimal 18 tahun</strong> untuk seluruh grup (kecuali HELLO! Play dan HELLO! Career Center).<br>
        2. Wajib memasang <strong>username</strong>. Lihat <a href="https://t.me/HELLOOfficialCH/20">disini</a> untuk memasang username.<br>
        3. Membaca Peraturan yang menjadi acuan Pelanggaran Kartu Kuning (PKK) dan Pelanggaran Kartu Merah (PKM).<br>
        4. Melaporkan segala Pelanggaran yang terjadi di grup kepada Help Center segera.
    </p>
  </div>
</div>

<div class="row mt-3 mb-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning text-center" role="alert">
                    Pelanggaran Kartu Kuning (PKK)
                </div>
                    <p class="card-text">
                        1. Aktivitas jual beli tanpa seizin Admin baik berupa barang fisik, voucher, atau bahkan video.<br>
                        2. Aktivitas iklan/promosi grup (berbayar/gratis) atau channel Telegram lain yang tidak berafiliasi dengan "HELLO!".<br>
                        3. Penggunaan banned word.<br>
                        4. Aktivitas membuat keributan/suasana gaduh/kerusuhan.<br>
                        5. Memposting konten Pornografi berupa gambar/stiker/gif. Voice note diperbolehkan<br>
                        6. Aktivitas VCS berbayar (pencari VCS berbayar yang mencurigakan akan kami tindak).<br>
                        7. Aktivitas provokasi SARA.<br>
                        8. Penghinaan (Shamming)<br>
                        9. Aktivitas mengajak VCS fullface (meminimalisir tragedi).
                    </p>
                <div class="card">
                    <div class="card-body text-center">
                        SANKSI HUKUMAN PKK adalah <strong>MUTE/DIBISUKAN</strong> dengan ketentuan
                    </div>
                    <p class="text-center">
                        a. Mute Permanen (Poin 1 dan 2) <br>
                        b. Mute 3 hari (Poin 3) <br> 
                        c. Mute minimal 7 Hari(Poin 4 - Poin 9)<br>
                    </p>
                </div>
        </div>
    </div>

    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-danger text-center" role="alert">
                    Pelanggaran Kartu Merah (PKM)
                </div>
                    <p class="card-text">
                        1. Usia dibawah 18 tahun.<br>
                        2. Segala bentuk aktivitas Pedofilia (termasuk pencari/penyedia/penikmat VGK) yang secara khusus merujuk kepada batasan minimal usia di Pelanggaran Kartu Merah Pasal Satu (PKM 1).<br>
                        <div class="alert alert-warning text-center" role="alert">
                            Memberikan reaction pada postingan yang mengandung pelanggaran nomor 1 dan 2 akan ikut dikenakan hukuman.
                        </div>
                        3. Segala bentuk aktivitas Prank (pencari/penjual/penyedia jasa)<br>
                        4. Segala bentuk aktivitas penipuan, pemerasan, kejahatan.<br>
                        5. Segala bentuk aktivitas jual-beli barang atau jasa ilegal seperti alat bantu seks, pornografi, senjata dan narkotika.<br>
                        6. Terbukti melakukan aktifitas merekam Video Call Group (VCG) dan meng-upload di Sosmed manapun.<br>
                        7. Share screen/menggunakan OBS.
                    </p>
                <div class="card">
                    <div class="card-body text-center">
                        SANKSI HUKUMAN PKM adalah <strong>BAN PERMANEN</strong> dari semua grup
                    </div>
                </div>
        </div>
    </div>

    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center" role="alert">
                    Informasi Tambahan
                </div>
                    <p class="card-text">
                        1. Cek <a href="https://t.me/HELLOFAQ_bot">@HELLOFAQ_bot</a> untuk Rules grup jika terkena mute/ban untuk mengetahui kesalahan kalian dan pertanyaan lain terkait “Hello!” Groups.<br>
                        2. Gunakan kata kunci (keyword) @admin untuk me-mention semua admin jika ada yang melanggar di dalam grup.<br>
                        3. Apabila menemukan akun Twitter(X)/IG/Sosmed lainnya merekam/memposting aktivitas kalian di VCG, langsung lapor ke <a href="https://t.me/HELLOHelpCenterBot">@HELLOHelpCenterBot</a><br>
                        4. Apabila aktivitas VCS pribadi kalian direkam oleh lawan yang ada di grup maka bukan tanggung jawab semua admin, jadi selesaikan secara pribadi! Dari kami tim admin sangat tidak menyarankan untuk show full face (menampakkan wajah dengan area privat dalam satu frame).<br>
                        5. Segala aktivitas diluar Group "HELLO!" bukan tanggung jawab dari para Admin!<br>
                        6. Member grup harus menghindari perilaku tidak pantas atau melanggar hukum. Apabila melanggar maka kami tidak bertanggung jawab atas segala konsekuensinya.<br>
                        7. Dilarang melibatkan grup ini untuk kegiatan yang berpotensi melanggar hukum dan membahayakan yang lainnya.
                    </p>
        </div>
    </div>
</div>

<br>

{% endblock %}